@import '../../../style/scss/app';

.form-group {
    padding-top: 10px;
    .time {
        width: 15vw;
        display: flex;
        justify-content: flex-start;

        input {
            width: 50px !important;
        }

        span {
            color: white;
            align-self: flex-end;
            font-size: 20px;
            padding: 0 40px 0 10px;
        }
    }

    p:not(.form-group-error), a {
        color: $error_color;
    }
}
