.editor {
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 2em;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;

    .editor-toolbar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    button {
        margin-top: 0
    }

    select {
        width: 80px!important;
        border: lightgray 1px solid;
        color: grey;
        font-size: 12px;
        margin: 5px;
    }

    .editor-large-select {
        width: 100px!important;
    }

    h1, h2 {
        color: #222;
        margin: 0;
        margin-bottom: 10px;
    }

    ul li, ol li {
        list-style-position: outside;
        margin-left: 1em;        
    }

    img[style*="float: left"] {
        margin-right: 5px;
    }

    img[style*="float: right"] {
        margin-left: 5px;
    }
    
    

}
    
.editor :global(.public-DraftEditor-content) {
    min-height: 140px;
}
