@import '../../style/scss/app';

.container {
    display: flex;
    align-items: center;
    flex-direction: column;

    .alert.alert-info {
        margin-top: 20px;
        color: $info_color;
    }

    button {
        margin-top: 40px;
    }

    select {
        option {
            color: $select_option_color;
        }
    }
}
