// LIGHT THEME
$light_color : #2c3e50;
$light_background : #ecf0f1;
$light_border : #bdc3c7;

// DARK THEME
$dark_color : #ecf0f1;
$dark_background : #2c3e50;
$dark_border : #34495e;

// SUCCESS
$success_background : #2ecc71;
$success_border : #27ae60;
$success_color : #ecf0f1;

// INFO
$info_background : #3498db;
$info_border : #2980b9;
$info_color : #ecf0f1;

// WARNING
$warning_background : #f1c40f;
$warning_border : #f39c12;
$warning_color : #ecf0f1;

// ERROR
$error_background : #e74c3c;
$error_border : #c0392b;
$error_color : #ecf0f1;

// COLLAPSIBLE
$collapsible_color : #ecf0f1; // color of each li
$collapsible_border : #2c3e50;
$collapsible_icon : '/assets/images/arrow_down.svg';

// BUTTON DEFAULT
$button_color : #ecf0f1;
$button_border : #2c3e50;
$button_shadow : #34495e;
$button_background : #34495e;
$button_icon_border : #ecf0f1;
$button_icon_background : #ecf0f1;

// SELECT
$select_option_color : #ecf0f1;
